services:
  db:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  ticket-logger-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ticket-logger-app
    env_file: .env
    environment:
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DRIVER: ${DB_DRIVER}
      APP_UPLOAD_PATH: ${APP_UPLOAD_PATH}
      APP_PORT: ${APP_PORT}
    depends_on:
      - db
    ports:
      - "8080:8080"
    volumes:
      - app_uploads:/app/uploads

volumes:
  db_data:
  app_uploads:
  certs:
